* {
  background: "https://images.unsplash.com/photo-1525254134158-4fd5fdd45793?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80";
}

.App {
  text-align: center;
  background-image: "https://images.unsplash.com/photo-1525254134158-4fd5fdd45793?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80";
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

img {
  width: 200px;
  height: 100px;
}

.navbar {
  position: fixed;
  top: 10;
  width: 100%;
}

.logo {
  position: relative;
  right: 250px;
  text-decoration: none;
  font-size: 50px;
}

/* .header-container {
    position: fixed;
    /* top: 20px; */


button.login-button {
  position: relative;
  left: 265px;
  bottom: 25px;
}

.listings-button {
  position: relative;
  left: 200px;
  bottom: 25px;
  text-decoration: none;
}

.search-field {
  bottom: 25px;
  position: center;
}

.filter-menu {
  position: relative;
  left: 150px;
}

.listing-details-link {
  padding-top: 0em;
  position: relative;
  margin: 0px;
}

.listing-card {
  flex: 1 0 21%;
  margin: 5px;
}


.listings-container {
  display: flex;
  flex-wrap: wrap;
}

img.listing-detail-image {
 
  top: 100%;
  
  height: 25%;
  width: 25%;
  position: relative;
   left: 0;

}

div.listing-details-card {

  display: flex;
  flex-direction: column;
 
  width: 50%;
  margin: 0 auto;
  
}

.listing-details {
  display: flex;
  
}

.inner {
  position: absolute;
}

.inner-container{
  width:400px;
  height:400px;
  position:absolute;
  top:calc(50vh - 200px);
  left:calc(50vw - 200px);
  overflow:hidden;
}

.box{
  position:absolute;
  height:100%;
  width:100%;
  font-family:Helvetica;
  color:#fff;
  background:rgba(0,0,0,0.13);
  padding:30px 0px;
}

.box h1{
  text-align:center;
  margin:30px 0;
  font-size:30px;
}
.box input{
  display:block;
  width:300px;
  margin:20px auto;
  padding:15px;
  background:rgba(0,0,0,0.2);
  color:#fff;
  border:0;
}
.box input:focus,.box input:active,.box button:focus,.box button:active{
  outline:none;
}
.box a{
  background:#742ECC;
  border:0;
  color:#fff;
  padding:10px;
  font-size:20px;
  width:330px;
  margin:20px auto;
  display:block;
  cursor:pointer;
  text-decoration: none !important;
}
.box a:active{
  background:#27ae60;
  text-decoration: none !important;
}
.box p{
  font-size:14px;
  text-align:center;
}
.box p span{
  cursor:pointer;
  color:#666;
}

.map{
  margin-left: auto;
  margin-right: auto;
  top: 100px;
  
}


/* this is the booking forms  */
body {
  font-family: "Gotham Book", Open Sans, Tahoma, sans-serif;
  background-color: #d9d9d9;
  padding:0;
  margin:0;
}

.booking-widget {
  margin: 20px auto;
}

.booking-widget {
  box-sizing: border-box;
  width: 345px;
  min-height: 5px; 
  padding-bottom: 1px;
  background-color: #fbfbfb;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, .44);
  /* margin-top: 200px;
  margin-left: 580px; */
}

.booking-widget__header {
  width: 100%;
  height: 185px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  position: relative;
  box-shadow: 1px 0px 3px rgba(0, 0, 0, .44);
}

.booking-widget__header figure {
  margin: 0;
  padding: 0;
}

.header-caption {
  position: absolute;
  bottom: 20px;
  left: 25px;
  color: white;
}

.header-caption h3 {
  padding: 0;
  margin: 0;
  font-size: 25px;
}

.booking-widget__form {
  list-style-type: none;
  padding: 0 25px 0 25px;
  margin: 0;
}

.booking-widget__form li {
  margin: 25px 0;
}

.form-field {
  position: relative;
  background-color: #f4f4f4;
  margin-top: 10px;
  box-shadow: -1px -1px 1px rgba(0, 0, 0, 0.25);
}

.form-field__checkbox {
  display: inline-block;
  width: 20px;
}

.form-field__checkbox input[type='checkbox'] {
  width: 100%;
  opacity: .0;
}

.form-field__checkbox input[type='checkbox']:checked {
  opacity: 1;
}


.form-field label {
  color: #666666;
} 

.datepicker, .select-button {
  box-sizing: border-box;
  position: absolute;
  top: 3px;
  right: 3px;
  width: 38px;
  height: 38px;
  border-radius: 5px;
  font-size: 18px;
  text-align: center;
  line-height: 38px;
  background-color: #414b59;
  color: white;
}

.form-field input[type='text'],
.form__dropdown select {
  height: 45px;
  width: 100%;
  padding: 0 0 0 3px;
  background-color: #f4f4f4;
  border: none;
}

.form__dropdown {
  box-sizing: border-box;
  display: inline-block;
  width: 45%;
  padding: 5px;
}

.form__dropdown:last-child {
  float: center;
  position:relative;
}

.form__submit {
  width: 100%;
  height: 58px;
  border: 1px solid transparent;
  font-size: 15px;
  background-color: #742ECC;
  color: white;
  text-transform: uppercase;
  box-shadow: 0px 1px 1px 0 darkgrey;
  border-radius: 5px;
  cursor: pointer;
}

div.leaflet-popup-content-wrapper {
  background-color: lavender;
}