

.App {
  text-align: center;
  background-image: "https://images.unsplash.com/photo-1525254134158-4fd5fdd45793?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80";
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

img {
  width: 200px;
  height: 100px;
}

.logo {
  position: relative;
  right: 250px;
  text-decoration: none;
  font-size: 50px;
}

h1.welcome-user {
  font-size: 30px;
  margin-top: 0%;
  color: rgb(150, 117, 170); 
}

/* .header-container {
    position: fixed;
    /* top: 20px; */


button.login-button {
  position: relative;
  left: 265px;
  bottom: 25px;
}

.listings-button {
  position: relative;
  left: 200px;
  bottom: 25px;
  text-decoration: none;
}

.search-field {
  bottom: 25px;
  position: center;
}

.filter-menu {
  position: relative;
  left: 150px;
}

.listing-details-link {
  padding-top: 0em;
  position: relative;
  margin: 0px;
}

.listing-card {
  flex: 1 0 21%;
  margin: 5px;
}


.listings-container {
  display: flex;
  flex-wrap: wrap;
}

.booking-card, .booking-card h2, h5 {
  /* margin: 0 auto; */
  /* padding: 0; */
  display: flex;
  flex-wrap: wrap;
  padding: 20px 125px 20px 20px;
}

h2.listing-detail-title {
  text-align: center;
  margin-left: 0%;

}


.booking-card p {
  padding: 30px 50px 50px 50px;
  
}

.delete-btn {
  height: 50px;
  margin-top: 3%;
  margin-left: 5%;
  border: none;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  color: purple;
}

img.listing-detail-image {
  top: 100%;
  height: 25%;
  width: 25%;
  position: relative;
  left: 15%;

}

div.listing-details-card {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
  color: purple;

}

.listing-details {
  display: flex;
}

.inner {
  position: absolute;
}

.inner-container{
  width:400px;
  height:400px;
  position:absolute;
  top:calc(50vh - 200px);
  left:calc(50vw - 200px);
  overflow:hidden;
}

.box{
  position:absolute;
  height:100%;
  width:100%;
  font-family:Helvetica;
  color:#fff;
  background:rgba(0,0,0,0.13);
  padding:30px 0px;
}

.box h1{
  text-align:center;
  margin:30px 0;
  font-size:30px;
}
.box input{
  display:block;
  width:300px;
  margin:20px auto;
  padding:15px;
  background:rgba(0,0,0,0.2);
  color:#fff;
  border:0;
}
.box input:focus,.box input:active,.box button:focus,.box button:active{
  outline:none;
}
.box a{
  background:#742ECC;
  border:0;
  color:#fff;
  padding:10px;
  font-size:20px;
  width:330px;
  margin:20px auto;
  display:block;
  cursor:pointer;
  text-decoration: none !important;
}
.box a:active{
  background:#27ae60;
  text-decoration: none !important;
}
.box p{
  font-size:14px;
  text-align:center;
}
.box p span{
  cursor:pointer;
  color:#666;
}

.map{
  margin-left: auto;
  margin-right: auto;
  top: 100px;
  
}

p.site-logo {
  text-align: center;
}

/* this is the booking forms  */
body {
  font-family: "Gotham Book", Open Sans, Tahoma, sans-serif;
  background-color: #d9d9d9;
  padding:0;
  margin:0;
}

.booking-widget {
  margin: 20px auto;
}

.booking-widget {
  box-sizing: border-box;
  width: 345px;
  min-height: 5px; 
  padding-bottom: 1px;
  background-color: #fbfbfb;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, .44);
  margin-top: 20%;

  
  /* margin-top: 200px;
  margin-left: 580px; */
}

.booking-widget__header {
  width: 100%;
  height: 185px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  position: relative;
  box-shadow: 1px 0px 3px rgba(0, 0, 0, .44);
}

.booking-widget__header figure {
  margin: 0;
  padding: 0;
}

.header-caption {
  position: absolute;
  bottom: 20px;
  left: 25px;
  color: white;
}

.header-caption h3 {
  padding: 0;
  margin: 0;
  font-size: 25px;
}

form {
  left: 200px;
}

.booking-widget__form {
  list-style-type: none;
  padding: 0 25px 0 25px;
  /* margin-right: 15%; */
}

.booking-widget__form li {
  margin: 25px 0;
}

.form-field {
  position: relative;
  background-color: #f4f4f4;
  margin-top: 10px;
  box-shadow: -1px -1px 1px rgba(0, 0, 0, 0.25);
}

.form-field__checkbox {
  display: inline-block;
  width: 20px;
}

.form-field__checkbox input[type='checkbox'] {
  width: 100%;
  opacity: .0;
}

.form-field__checkbox input[type='checkbox']:checked {
  opacity: 1;
}


label {
  color:rgb(150, 117, 170);
} 

.datepicker, .select-button {
  box-sizing: border-box;
  position: absolute;
  top: 3px;
  right: 3px;
  width: 38px;
  height: 38px;
  border-radius: 5px;
  font-size: 18px;
  text-align: center;
  line-height: 38px;
  background-color: #414b59;
  color: white;
}

.form-field input[type='text'],
.form__dropdown select {
  height: 45px;
  width: 100%;
  padding: 0 0 0 3px;
  background-color: #f4f4f4;
  border: none;
}

.form__dropdown {
  box-sizing: border-box;
  display: inline-block;
  width: 45%;
  padding: 5px;
}

.form__dropdown:last-child {
  float: center;
  position:relative;
}

.form__submit {
  width: 100%;
  height: 58px;
  border: 1px solid transparent;
  font-size: 15px;
  background-color: #742ECC;
  color: white;
  text-transform: uppercase;
  box-shadow: 0px 1px 1px 0 darkgrey;
  border-radius: 5px;
  cursor: pointer;
}

div.leaflet-popup-content-wrapper {
  background-color: lavender;
}

img.leaflet-container {
 color:purple;
}

#discover {
  color: purple;
}

/* SEARCH BAR */

.container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.js-search {
  position: relative;
  padding: 15px 40px 15px 20px;
  width: 220px;
  color: #525252;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 2px;
  border: none;
  border-radius: 5px;
  background: linear-gradient(to right, #FFFFFF 0%,#464747 #F9F9F9 100%);
  transition: width 0.4s ease;
  outline: none;
  margin-top: .5%;
}

select.filter-menu {
  right: 20%;
  position: sticky;
  margin-top: .5%;
  padding: 15px 40px 15px 20px;
  width: 220px;
  color: #525252;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 2px;
  border: none;
  border-radius: 5px;
  background: linear-gradient(to right, #FFFFFF 0%,#464747 #F9F9F9 100%);
  transition: width 0.4s ease;
  outline: none;
}

i{
  position: relative;
  left: -37px;
  color: #8233C5;
}







/* nav bar  */

/* CSS Document */

@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Bree+Serif);

body {
	background: #d9d9d9;
	font-size:22px;
	line-height: 32px;
	color: #ffffff;
	word-wrap:break-word !important;
	font-family: 'Open Sans', sans-serif;
	}

h1 {
	text-align: center;
  font-size: 30px;
  color: purple;
}	

h3 {
	font-size: 30px;
	text-align: center;
	color: #FFF;
}

h3 a {
	color: #FFF;
}

a {
	color: #FFF;
}

h1 {
	margin-top: 100px;
	text-align:center;
	font-size:60px;
	font-family: 'Bree Serif', 'serif';
	}

#container {
	margin: 0 auto;
}

p {
	text-align: center;
}

nav {
	margin: 50px 0;
	background-color: #fff;
}

nav ul {
	padding: 0;
  margin: 0;
	list-style: none;
  position: relative;
  background-color: #d9d9d9;
	}
	
nav ul li {
	display:inline-block;
	background-color: #d9d9d9;
	}

nav a {
	display:block;
	padding:0 10px;	
	color:black;
	font-size:20px;
	line-height: 60px;
  text-decoration:none;
  border-radius: 5px;
}

nav a:hover { 
	background-color: #FFF; 
}

/* Hide Dropdowns by Default */
nav ul ul {
	display: none;
	position: absolute; 
	top: 60px; /* the height of the main nav */
}
	
/* Display Dropdowns on Hover */
nav ul li:hover > ul {
	display:inherit;
}
	
/* Fisrt Tier Dropdown */
nav ul ul li {
	width:170px;
	float:none;
	display:list-item;
	position: relative;
}

/* Second, Third and more Tiers	*/
nav ul ul ul li {
	position: relative;
	top:-60px; 
	left:170px;
}

	
/* Change this in order to change the Dropdown symbol */
li > a:after { content:  ' +'; }
li > a:only-child:after { content: ''; }






a.logo{
color:rgb(93, 14, 139);
font-size: 90px;
border-radius: 5px;
text-shadow: 5px 5px grey;
text-align: center;
margin-left: 25%;
display: block;
}



/* home page animation  */

body{
  background:#d9d9d9;
  position:relative;
}

.svg{
  display:block;
  margin:0 auto;
  height:500px;
}
.title{
  font-family: 'Bree Serif', 'serif';
  text-align:center;
  color: purple;
  font-size: 23px;
  -webkit-animation: title 10s 1 ease-in-out;
}
@-webkit-keyframes title{
  0%{color: purple;}
}

[id^=img_]{
  stroke:purple;
  stroke-width:1px;
  fill:none;
} 


#img_4,#img_5,#img_6{
  -webkit-animation: left 5s 5s infinite ease-in-out;
}
@-webkit-keyframes left{
  50%{-webkit-transform:translateX(20%)}
}
#img_10{
  -webkit-transform:translateX(1000px);
  -webkit-animation: car 12s 5s infinite ease-in-out;
}
@-webkit-keyframes car{
  0%{-webkit-transform:translateX(-1000px)}
}
#img_8{
  -webkit-transform:translateX(1000px);
  -webkit-animation: car2 12s 8s infinite ease-in-out;
}
@-webkit-keyframes car2{
  0%{-webkit-transform:translateX(-1000px)}
}
#img_11{
  -webkit-transform:translateX(1000px);
  -webkit-animation: ride 12s 10s infinite ease-in-out;
}
@-webkit-keyframes ride{
  0%{-webkit-transform:translateX(-1000px)}
}






.listings-container{
  margin-bottom: 5%;
}

p.listing-details-link{
  text-decoration:none;
}

.like-btn{
  margin-left: 40%;
}
p.like-text{
  margin-left: -3%;
  color: purple;
 
}

h4.listing-title{
  text-align: center;
  font-size: 20px;
  font-family: 'Bree Serif', 'serif';
}
p.listing-price{
font-size: 15px;
font-family: 'Bree Serif', 'serif';
}

.leaflet-container a{
  text-decoration: none;
  font-family: 'Bree Serif', 'serif';
  font-size:15px;
  color:black;
}